<component name="ArtifactManager">
  <artifact type="war" name="Spring4MVCAngularJSExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring4MVCAngularJSExample.war">
      <element id="artifact" artifact-name="Spring4MVCAngularJSExample:war exploded" />
    </root>
  </artifact>
</component>